.DS_Store
__pycache__/
*.py[cod]
.venv/
venv/
env/
.idea/
.cache/
.mplconfig/

results/**/*.csv
results/**/*.json
plots/**/*.png
profiling/**/*.qdrep
profiling/**/*.nsys-rep
profiling/**/*.ncu-rep
profiling/**/*.sqlite
profiling/pytorch*/
